<footer>
    <b1 class="b14">
        <span class="writes_footer">
            Следите за нами в соцсетях:
        </span>
    </b1>
    <b2 class="b15">
        <span class="writes_footer">
            8-800-139-02-02
        </span>
    </b2>
    <b3 class="b16">
        <a href="">
            <img src="/icon/telegram.png" width="20" height="20">
        </a>
        <a href="">
            <img src="/icon/tiktok.png" width="20" height="20">
        </a>
        <a href="">
            <img src="/icon/twitter.png" width="20" height="20">
        </a>
        <a href="">
            <img src="/icon/facebook.png" width="20" height="20">
        </a>
    </b3>
    <b4 class="b17">
        <span>
            <img src="/icon/black_leaf.png" width="20" height="20">
            <a href="" class="writes_footer">
                Мобильное приложение
            </a>
        </span>
    </b4>
</footer>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/replenishment-script.js"></script>