<div class="login-header">
    <span>
        <img src="/icon/leaf_icon.png" width="20" height="20">
        <a href="/" class="logo">FAKE БАНК</a>
    </span>
    <span>
        <a href="/replenishment" class="writes">Пополнение</a>
    </span>
    <span>
        <a href="/translations" class="writes">Переводы</a>
    </span>
    <span>
        <a href="" class="writes">Открытие/закрытие</a>
    </span>
    <span>
        <input type="text" class="input">
        <img src="/icon/search_icon.png" width="20" height="20">
    </span>
    <span>
        <a href="/my_cards" class="writes">Мои карты</a>
    </span>
    <span>
        <a href="create_card" class="writes">Регистрация счета</a>
    </span>
{{#if isAuthorized}}
    <span>
        <button class="button">
            <a href="/" class="writes">Выйти</a>
        </button>
    </span>
{{else}}
    <span>
        <button class="button">
            <a href="/login" class="writes">Войти</a>
        </button>
    </span>
{{/if}}
</div>