{{> head }}
    <body>
        {{#if isHome}}
            {{> navbar }}

            {{{ body }}}

            {{> footer }}
        {{else}}
            {{> navbar2 }}
            
            {{{ body }}}
        {{/if}}
    </body>
</html>