<main>
    <upside>
        <span class="index-b1">
            <a href="" class="writes_main_upside">
                Кредитная карта 180 дней без %
            </a>
            <img src="/icon/b1.png" width="200" height="120">
        </span>

        <span class="index-b2">
            <a href="" class="writes_main_upside">
                Автокредиты
            </a>
            <img src="/icon/b2.png" width="150" height="150">
        </span>

        <span class="index-b3">
            <a href="" class="writes_main_upside">
                Кредиты
            </a>
            <img src="/icon/b3.png" width="180" height="130">
        </span>

        <span class="index-b4">
            <a href="" class="writes_main_upside">
                Вклады
            </a>
            <img src="/icon/b4.png" width="130" height="130">
        </span>
    </upside>

    <div class="index-b5">
        <span class="index-b6">
            <div>
                <font size="6" color="#FFFFFF" face="century gothic">
                    Открой вклад Богатства;
                </font>
            </div>

            <div>
                <font size="4" color="#FFFFFF" face="century gothic">
                    Для стабильного дохода
                </font>
            </div>

            <div>
                <button class="button_main">
                    <a href="" class="writes_main_upside">
                        <img src="/icon/right-arrow.png" width="60" height="80">
                    </a>
                </button>
            </div>
        </span>

        <span>
            <span>
                <img src="/icon/5_1.png" width="65" height="85">
            </span>

            <span>
                <img src="/icon/percent.png" width="90" height="90">
            </span>

            <div>
                <img src="/icon/money.png" width="245" height="120">
            </div>
        </span>
    </div>

    <div class="b7">
        <span class="b9">
            <div>
                <font size="6" color="#000000" face="CENTURY GOTHIC">
                    Частые финансовые вопросы и ответы на них
                </font>
            </div>

            <div>
                <font size="4" color="#000000" face="CENTURY GOTHIC">
                    Специально для своих клиентов FAKE БАНК подготовил разбор самых популярных финансовых вопросов
                    населения
                </font>
            </div>

            <div class="b8">
                <img src="/img/money_row.png" width="900" height="200">
            </div>
        </span>

        <span class="b10">
            <button class="button_main">
                <a href="" class="writes_main_upside">
                    <img src="/icon/right-arrow.png" width="60" height="80">
                </a>
            </button>
        </span>
    </div>

    <div class="b11">
        <span>
            <img src="/img/mobile_app.png" width="420" height="420">
        </span>

        <span class="b12">
            <div>
                <font size="7" color="#000000" face="CENTURY GOTHIC">
                    Мобильное приложение
                    FAKE БАНКА
                </font>
            </div>

            <div>
                <font size="5" color="#000000" face="CENTURY GOTHIC">
                    Совершайте покупки, оплачивайте
                    услуги без комиссии, управляйте
                    своими картами, вкладами
                    и кредитами не выходя из дома
                </font>
            </div>

            <a href="" class="b13">
                <img src="/icon/right-arrow.png" width="60" height="80">
        </span>
    </div>
</main>