<div class="login-body">
    <div class="login-main">
        <div class="login-b1">
            <div class="inp">
                <input type="text" placeholder="Номер телефона" class="login-b2">
            </div>
            <div class="inp">
                <input type="text" placeholder="Пароль" class="login-b2">
            </div>
            <div class="login-b3">
                Войти
            </div>

            <a href="/registration" class="login-writes_main">Первый раз? Зарегестрироваться</a>
        </div>
    </div>
</div>