<div class="login-body">
    <div class="login-main">
        <div class="login-b1">
            <div class="inp">
                <input type="text" placeholder="Номер телефона" class="login-b2">
                <img src="/icon/eye.png" width="20" hight="20">
            </div>
            <div class="inp">
                <input type="text" placeholder="Пароль" class="login-b2">
                <img src="/icon/eye.png" width="20" hight="20">
            </div>
            <div class="login-b3">
                Войти
            </div>
            <div class="login-writes_main">
                Не могу войти
            </div>
        </div>
    </div>
</div>