<body class="body">
    <div class="repl-main">
        <div class="repl-b1">
            <span>
                <font class="repl-writes">
                    Выбор счета/карты для пополнения
                </font>
            </span>
            <span>
                <font class="repl-writes">
                    Способ пополнения
                </font>
            </span>
            <span>
                <font class="repl-writes">
                    Подтверждение
                </font>
            </span>
        </div>
        <span class="repl2-l1"></span>
        <span class="repl2-l"></span>
        <span class="repl2-l2"></span>

        <div class="repl-inp">
            <div>
                Номер счета/телефон
            </div>
            <div>
                <input type="text" class="repl-b2">
            </div>
        </div>
        <div class="repl-inp">
            <div>
                Банк
            </div>
            <div>
                <input type="text" class="repl-b2">
            </div>
        </div>
        <div class="repl-inp">
            <div>
                Сумма пополнения
            </div>
            <div>
                <input type="text" class="repl-b2">
            </div>
        </div>
        <div class="repl-b5">
            <a href="/replenishment" class="repl-writes">
                Вернуться
            </a>
        </div>
        <div class="repl-b3">
            <a href="/replenishment3" class="repl-writes">
                Продолжить
            </a>
        </div>
    </div>
</body>