<body class="body">
    <div class="repl-main">
        <div class="repl-b1">
            <span>
                <font class="repl-writes">Выбор счета/карты для пополнения</font>
            </span>
            <span>
                <font class="repl-writes">Способ пополнения</font>
            </span>
            <span>
                <font class="repl-writes">Подтверждение</font>
            </span>
        </div>
        <span class="l1"></span>
        <span class="l"></span>

        <div class="repl-inp">
            <div>Номер счета/телефон</div>
            <div>
                <input type="text" class="repl-b2">
            </div>
        </div>
        <div class="repl-inp">
            <div>Банк</div>
            <div>
                <input type="text" class="repl-b2">
            </div>
        </div>
        <div class="repl-b3">
            <a href="/replenishment2" class="repl-writes">Продолжить</a>
        </div>
    </div>
</body>