<body class="body">
    <div class="repl-main">
        <div class="repl-b1">
            <span>
                <font class="repl-writes">Выбор счета/карты для пополнения</font>
            </span>
            <span>
                <font class="repl-writes">Способ пополнения</font>
            </span>
            <span>
                <font class="repl-writes">Подтверждение</font>
            </span>
        </div>
        <span class="repl3-l1">
        </span>
        <span class="repl3-l">
        </span>
        <div class="b6">
            <div class="repl-inp">
                <div>Номер счета/телефон</div>
                <div>
                    <input type="text" class="repl-b2">
                </div>
            </div>
            <img src="/icon/white_arrow.png" width="50px" height="50px">
            <div class="repl-inp">
                <div>Номер счета/телефон</div>
                <div>
                    <input type="text" class="repl-b2">
                </div>
            </div>
        </div>
        <div class="b6">
            <div class="repl-inp">
                <div>Банк</div>
                <div>
                    <input type="text" class="repl-b2">
                </div>
            </div>
            <img src="/icon/white_arrow.png" width="50px" height="50px">
            <div class="repl-inp">
                <div>Банк</div>
                <div>
                    <input type="text" class="repl-b2">
                </div>
            </div>
        </div>
        <div class="repl-inp">
            <div>Сумма</div>
            <div>
                <input type="text" class="repl-b2">
            </div>
        </div>
        <div class="repl-b5">
            <a href="/replenishment2" class="repl-writes">Вернуться</a>
        </div>
        <div class="repl-b3">
            <a href="/replenishment3" class="repl-writes">Продолжить</a>
        </div>
    </div>
</body>