<body class="transl-body">
    <main class="transl-main">
        <span class="transl-b1">
            <div class="transl-inp">
                <input type="text" value="Номер счета/телефон" class="transl-b2">
            </div>
            <div class="transl-inp">
                <input type="text" value="Банк получателя" class="transl-b2">
            </div>
            <div class="transl-inp">
                <input type="text" value="Сумма перевода" class="transl-b2">
            </div>
            <div class="transl-inp">
                <input type="text" value="Сообщение получателю" class="transl-b2">
            </div>
            <div class="transl-b3">
                Перевести
            </div>
        </span>
        <span class="transl-b4">
            <block class="transl-b7">
                <div class="transl-b6">
                    <span>
                        <img scr="" width="256px" height="247px">
                    </span>
                    <span>
                        <font size="6" color="#FFFFFF" face="century gothic">
                            Мобильное приложение
                            FAKE БАНКА
                        </font>
                    </span>
                </div>
                <div>
                    <font size="4" color="#FFFFFF" face="century gothic">
                        Совершайте покупки, оплачивайте услуги без комиссии, управляйте своими картами, вкладами и
                        кредитами
                        не выходя из дома
                    </font>
                </div>
                <div class="transl-b3">
                    <a href="" class="transl-b5">
                        Перейти
                    </a>
                </div>
            </block>
        </span>
    </main>
</body>