.transl-writes {
    font-family: 'century gothic';
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    text-decoration: none;
}

.transl-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    text-decoration: underline white;
}

.transl-button {
    background: rgba(0, 0, 0, 0.87);
    width: 62px;
    height: 24px;
    left: 1392px;
    top: 11px;
    border: 0.5px solid #FFFFFF;
    border-radius: 25px;
}

.transl-input {
    border-radius: 25px;
}

.transl-body {
    background: #1E1E1E;
}

.transl-b1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 383px;
    height: 535px;
    background: #2C2F37;
    border-radius: 24px;
}

.transl-inp {
    width: 265px;
    height: 47px;
    background: #2C2F37;
    box-sizing: border-box;
    border: 1px solid #141414;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.transl-b2 {
    width: 260px;
    background: #2C2F37;
    color: #969595;
    font-family: 'century gothic';
    border: 0;
}

.transl-b3 {
    cursor: pointer;
    width: 265px;
    height: 50px;
    background: #560AD2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'century gothic';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.035em;
    color: #FFFFFF
}

.transl-b3:hover {
    box-shadow: 0 0 10px #2A1CD0;
}

.transl-b4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: #2C2F37;
    border-radius: 24px;
    width: 580px;
    height: 535px;
}

.transl-b5 {
    font-family: 'century gothic';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    text-decoration: none;
}

.transl-main {
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.transl-b6 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.transl-b7 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 500px;
    height: 535px;
}